In [196]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date
from sqlalchemy import ForeignKey
from datetime import datetime, timedelta
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Sequence, CheckConstraint, UniqueConstraint
import pandas as pd

### Preparing datasets

* Covid

In [366]:
data_covid = pd.read_excel('covid.xlsx')
new1 = data_covid[['Country', 'diabetes_prevalence', 'hospital_beds_per_thousand']]
new_enter = data_covid['stringency_index']
new_country_data = data_covid[['Country', 'Continent']]
del data_covid['diabetes_prevalence'], data_covid['hospital_beds_per_thousand'], data_covid['stringency_index'],data_covid['Continent']
data_covid.head()

       Country       Date  total_cases  new_cases  total_deaths  new_deaths
0  Afghanistan 2020-01-01            0          0             0           0
1  Afghanistan 2020-01-02            0          0             0           0
2  Afghanistan 2020-01-03            0          0             0           0
3  Afghanistan 2020-01-04            0          0             0           0
4  Afghanistan 2020-01-05            0          0             0           0

* Education

In [353]:
data_edu = pd.read_excel('edukacja2.xlsx').drop_duplicates().dropna()

In [354]:
data_edu = data_edu.pivot(index='Country Name', columns='Series Name', values='2016 [YR2016]')

In [355]:
data_edu = data_edu.rename(columns={'Children out of school (% of primary school age)': "Children out of school [%]", \
                            'Compulsory education, duration (years)' : 'Compulsory education [years]',\
                            'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)' : 'Educational attainment, at least completed primary [%]',\
                            'Government expenditure on education, total (% of GDP)' : 'Government expenditure on education [% of GDP]'})
data_edu.head()

Series Name,Children out of school [%],Compulsory education [years],"Educational attainment, at least completed primary [%]",Government expenditure on education [% of GDP]
Country Name,,,,
Afghanistan,..,9,..,4.22836
Albania,2.34458,9,..,3.96209
Algeria,0.72481,10,..,..
American Samoa,..,..,..,..
Andorra,..,10,96.5188,3.2567

* Countries and economy

In [359]:
data_economy = pd.read_excel('panstwa.xlsx').drop_duplicates().dropna()
del data_economy['2017 [YR2017]'], data_economy['2018 [YR2018]']

In [377]:
new_country_data = new_country_data.drop_duplicates().dropna()
new_country_data = new_country_data.reset_index(drop=True)
#pd.concat([df_SN7577i_a, df_SN7577i_b])
new_country_data.head()

       Country Continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3      Andorra    Europe
4       Angola    Africa

In [378]:
series = data_economy[['Country Name', 'Country Code']].drop_duplicates().dropna()
series = series.reset_index(drop=True)
series.head()

     Country Name Country Code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [310]:
data_economy = data_economy.pivot(index='Country Name', columns='Series Name', values='2016 [YR2016]')

In [311]:
data_economy = data_economy.rename(columns={'GDP per capita (current US$)': "GDP per capita [$]", \
                                            'Population ages 0-14 (% of total population)': 'Population ages 0-14 [% of total population]',\
                                            'Population ages 15-64 (% of total population)': 'Population ages 15-64 [% of total population]',\
                                            'Population ages 65 and above (% of total population)':'Population ages 65 and above [% of total population]',\
                                            'Population density (people per sq. km of land area)' : 'Population density [people per sq.km]',\
                                            'Rural population (% of total population)': 'Rural population [% of total population]',\
                                            'Urban population (% of total population)':'Urban population [% of total population]'})
data_economy.head()

Series Name,GDP per capita [$],Population ages 0-14 [% of total population],Population ages 15-64 [% of total population],Population ages 65 and above [% of total population],Population density [people per sq.km],Rural population [% of total population],Urban population [% of total population]
Country Name,,,,,,,
Afghanistan,547.228,44.2721,53.208,2.51992,54.1971,74.98,25.02
Albania,4124.11,18.3837,68.6601,12.9562,104.967,41.579,58.421
Algeria,3946.42,29.1345,64.8576,6.00798,17.026,28.541,71.459
American Samoa,11697,..,..,..,278.705,12.802,87.198
Andorra,37224.1,..,..,..,164.462,11.752,88.248

* Health

In [305]:
data_health = pd.read_excel('zdrowie.xlsx').drop_duplicates().dropna()
del data_health['2017 [YR2017]'], data_health['2018 [YR2018]']

In [306]:
data_health = data_health.pivot(index='Country Name', columns='Series Name', values='2016 [YR2016]')

In [307]:
data_health = data_health.rename(columns={'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)':'Cause of death by communicable diseases[%]', \
                            'Current health expenditure (% of GDP)': 'Health expenditure [% of GDP]',\
                            'Life expectancy at birth, total (years)': 'Life expectancy [years]',\
                            'Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)':'Mortality rate due to unsafe water, unsafe sanitation and lack of hygiene [per 100,000]',\
                            'Mortality rate, adult, female (per 1,000 female adults)' : 'Mortality rate, female [per 1,000]',\
                            'Mortality rate, adult, male (per 1,000 male adults)': 'Mortality rate, male [per 1,000]',\
                            'Mortality rate, infant (per 1,000 live births)':'Mortality rate, infant [per 1,000]',\
                            'People with basic handwashing facilities including soap and water (% of population)':'People with basic handwashing facilities including soap and water [%]'})
data_health.head()

Series Name,Cause of death by communicable diseases[%],Health expenditure [% of GDP],Life expectancy [years],"Mortality rate due to unsafe water, unsafe sanitation and lack of hygiene [per 100,000]","Mortality rate, female [per 1,000]","Mortality rate, male [per 1,000]","Mortality rate, infant [per 1,000]",People with basic handwashing facilities including soap and water [%]
Country Name,,,,,,,,
Afghanistan,36.4,10.962,63.763,13.9,202.465,244.519,51.2,37.6665
Albania,2.9,..,78.194,0.2,50.539,96.833,8.2,..
Algeria,14.8,6.60384,76.298,1.9,83.113,105.595,21,83.6528
American Samoa,..,..,..,..,..,..,..,..
Andorra,..,10.3241,..,..,..,..,3,..

### Creating databases

In [180]:
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

engine = create_engine(db_string)

Base = declarative_base()

class Country(Base):
    __tablename__ = 'countries'
    __table_args__ = (
        CheckConstraint('len(country_name) > 3'),
        UniqueConstraint('country_name'),
    )
    id = Column(Integer, primary_key=True)
    country_name = Column(String(50))