In [1]:
from sqlalchemy import create_engine, MetaData, Table, select, func, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date
from sqlalchemy import ForeignKey
from datetime import datetime, timedelta
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Sequence, CheckConstraint, UniqueConstraint
import pandas as pd
from sqlalchemy.orm import sessionmaker
from sqlalchemy import or_, and_
from sqlalchemy import distinct

In [38]:
db_string = "postgres://postgres:sql@localhost/covid-countries"
engine = create_engine(db_string)
Base = declarative_base()

In [39]:
#DROP EVERYTHING
tables = ['cases_timeline','deaths_timeline', 'closed_places', 'movement_restrictions', 'borders', 'health_system_policies',
         'covid_numbers', 'country_data', 'education',  'economy', 'health']

for tab in tables:
    txt = 'DROP TABLE IF EXISTS '+tab+' CASCADE;'
    #print(txt)
    sql = text(txt)
    result = engine.execute(sql)

### Define tables

In [40]:
class Cases_Timeline(Base):
    __tablename__ = 'cases_timeline'
    countryCode = Column(String(10), primary_key = True)
    _1st_case = Column(Date)
    _100th_case = Column(Date)
    _1000th_case = Column(Date)
    _10000th_case = Column(Date)
    _100000th_case = Column(Date)
    _1000000th_case = Column(Date)

class Deaths_Timeline(Base):
    __tablename__ = 'deaths_timeline'
    countryCode = Column(String(10), primary_key = True)
    _1st_death = Column(Date)
    _100th_death = Column(Date)
    _1000th_death = Column(Date)
    _10000th_death = Column(Date)
    _100000th_death = Column(Date)
    _1000000th_death = Column(Date)

class Closed_Places(Base):
    __tablename__ = 'closed_places'
    countryCode = Column(String(10), primary_key = True)
    closed_schools = Column(Date)
    closed_workplaces = Column(Date)
    cancelled_events = Column(Date)
    closed_public_transport = Column(Date)
    
class Movement_Restrictions(Base):
    __tablename__ = 'movement_restrictions'
    countryCode = Column(String(10), primary_key = True)
    restrictions_on_gatherings_of_less_than_100 = Column(Date)
    restrictions_on_gatherings_of_more_than_100 = Column(Date)
    stay_at_home_requirements = Column(Date)
    restrictions_on_internal_movement = Column(Date)

class Borders(Base):
    __tablename__ = 'borders'
    countryCode = Column(String(10), primary_key = True)
    screening_arrivals = Column(Date)
    quarantine_arrivals = Column(Date)
    ban_arrivals_from_some_regions = Column(Date)
    ban_on_all_regions_or_total_border_closure = Column(Date)
    
class Health_System_Policies(Base):
    __tablename__ = 'health_system_policies'
    countryCode = Column(String(10), primary_key = True)
    public_information_campaigns = Column(String(150))
    testing_policy = Column(String(150))
    contact_tracing = Column(String(150))

In [41]:
class Covid_Numbers(Base):
    __tablename__ = 'covid_numbers'
    id = Column(Integer, primary_key=True)
    countryCode = Column(String(50))
    date = Column(Date)
    totalCases = Column(Float)
    newCases = Column(Float)
    totalDeaths = Column(Float)
    newDeaths = Column(Float)

class Country_Data(Base):
    __tablename__ = 'country_data'
    countryCode = Column(String(50), primary_key = True)
    countryName = Column(String(50), default = 'Unknown name')
    continent = Column(String(50), default = 'Unknown name')

class Education(Base):
    __tablename__ = 'education'
    countryCode = Column(String(50), primary_key = True)
    childrenOutOfSchool = Column(Float)
    compulsoryEducation = Column(Float)
    educationalAttainmentAtLeastPrimary = Column(Float)
    governmentExpenditureOnEducation = Column(Float)

class Economy(Base):
    __tablename__ = 'economy'
    countryCode = Column(String(50), primary_key=True)
    GDPPerCapita  = Column(Float)
    populationAges_0_14 = Column(Float)
    populationAges_15_64 = Column(Float)
    populationAges_65_above = Column(Float)
    populationDensity = Column(Float)
    ruralPopulation = Column(Float)
    urbanPopulation = Column(Float)

class Health(Base):
    __tablename__ = 'health'
    countryCode = Column(String(50), primary_key=True)
    causeOfDeathByCommunicableDiseases = Column(Float)
    healthExpenditure = Column(Float)
    lifeExpectancy = Column(Float)
    mortalityRateDueToUnsafeWater = Column(Float)
    mortalityFemaleRate = Column(Float)
    mortalityMaleRate = Column(Float)
    mortalityInfantRate = Column(Float)
    peopleWithBasicHandwashingFacilities = Column(Float)

In [42]:
Base.metadata.create_all(engine)

In [43]:
if engine.dialect.has_table(engine, "covid_numbers"):
    print("true")

true

### Prepare dataframes

In [44]:
cases = pd.read_csv('data/cases.csv',index_col = 'countryCode')
deaths = pd.read_csv('data/deaths.csv',index_col = 'countryCode')
lockdown = pd.read_csv('data/lockdown.csv',index_col = 'countryCode')
movement = pd.read_csv('data/movement.csv',index_col = 'countryCode')
borders = pd.read_csv('data/borders.csv',index_col = 'countryCode')
health_system = pd.read_csv('data/health_system.csv',index_col = 'countryCode')

In [45]:
country_data2 = pd.read_csv('data/country_data2.csv',index_col = 'countryCode')
data_edu = pd.read_csv('data/data_edu.csv',index_col = 'countryCode')
data_economy = pd.read_csv('data/data_economy.csv',index_col = 'countryCode')
data_health = pd.read_csv('data/data_health.csv',index_col = 'countryCode')
data_covid = pd.read_csv('data/data_covid.csv',index_col = 'id')

In [48]:
cases

,_1st_case,_100th_case,_1000th_case,_10000th_case,_100000th_case,_1000000th_case
countryCode,,,,,,
ABW,13-03-2020,23-04-2020,NaN,NaN,NaN,NaN
AFG,25-02-2020,29-03-2020,21-04-2020,25-05-2020,NaN,NaN
AGO,22-03-2020,NaN,NaN,NaN,NaN,NaN
ALB,09-03-2020,24-03-2020,26-05-2020,NaN,NaN,NaN
AND,03-03-2020,23-03-2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
SXM,NaN,NaN,NaN,NaN,NaN,NaN
TCA,NaN,NaN,NaN,NaN,NaN,NaN
TGO,NaN,NaN,NaN,NaN,NaN,NaN
GRD,NaN,NaN,NaN,NaN,NaN,NaN
VGB,NaN,NaN,NaN,NaN,NaN,NaN

### Insert data

In [46]:
cases.to_sql('cases_timeline',engine, if_exists='append')
deaths.to_sql('deaths_timeline',engine, if_exists='append')
lockdown.to_sql('closed_places',engine, if_exists='append')
movement.to_sql('movement_restrictions',engine, if_exists='append')
borders.to_sql('borders',engine, if_exists='append')
health_system.to_sql('health_system_policies',engine, if_exists='append')

In [47]:
country_data2.to_sql('country_data',engine, if_exists='append')
data_edu.to_sql('education',engine, if_exists='append')
data_economy.to_sql("economy",engine, if_exists='append')
data_health.to_sql("health",engine, if_exists='append')
data_covid.to_sql('covid_numbers',engine, if_exists='append')

### Chcecking correctness

In [49]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = engine)
session = Session()
stmt = "select count (*) from \"economy\""
print(session.execute(stmt).fetchall())

[(190,)]

In [51]:
session_stmt1 = session.query(Country_Data.countryName)
print(session_stmt1)
session_results1 = session_stmt1.all()
print(session_results1)

SELECT country_data."countryName" AS "country_data_countryName"
FROM country_data
[('Afghanistan',), ('Albania',), ('Algeria',), ('Andorra',), ('Angola',), ('Antigua and Barbuda',), ('Argentina',), ('Armenia',), ('Aruba',), ('Australia',), ('Austria',), ('Azerbaijan',), ('Bahamas',), ('Bahrain',), ('Bangladesh',), ('Barbados',), ('Belarus',), ('Belgium',), ('Belize',), ('Benin',), ('Bermuda',), ('Bhutan',), ('Bolivia',), ('Bosnia and Herzegovina',), ('Botswana',), ('Brazil',), ('British Virgin Islands',), ('Brunei Darussalam',), ('Bulgaria',), ('Burkina Faso',), ('Burundi',), ('Cambodia',), ('Cameroon',), ('Canada',), ('Cayman Islands',), ('Central African Republic',), ('Chad',), ('Chile',), ('China',), ('Colombia',), ('Comoros',), ('Costa Rica',), ("Cote d'Ivoire",), ('Croatia',), ('Cuba',), ('Curacao',), ('Cyprus',), ('Czech Republic',), ('Denmark',), ('Djibouti',), ('Dominica',), ('Dominican Republic',), ('Ecuador',), ('Egypt',), ('El Salvador',), ('Equatorial Guinea',), ('Eritrea',), ('Estonia',), ('Ethiopia',), ('Faroe Islands',), ('Fiji',), ('Finland',), ('France',), ('French Polynesia',), ('Gabon',), ('Gambia',), ('Georgia',), ('Germany',), ('Ghana',), ('Gibraltar',), ('Greece',), ('Greenland',), ('Grenada',), ('Guam',), ('Guatemala',), ('Guinea',), ('Guinea-Bissau',), ('Guyana',), ('Haiti',), ('Honduras',), ('Hong Kong',), ('Hungary',), ('Iceland',), ('India',), ('Indonesia',), ('Iran',), ('Iraq',), ('Ireland',), ('Isle of Man',), ('Israel',), ('Italy',), ('Jamaica',), ('Japan',), ('Jordan',), ('Kazakhstan',), ('Kenya',), ('Kosovo',), ('Kuwait',), ('Kyrgyzstan',), ('Laos',), ('Latvia',), ('Lebanon',), ('Lesotho',), ('Liberia',), ('Libya',), ('Liechtenstein',), ('Lithuania',), ('Luxembourg',), ('Madagascar',), ('Malawi',), ('Malaysia',), ('Maldives',), ('Mali',), ('Malta',), ('Mauritania',), ('Mauritius',), ('Mexico',), ('Moldova',), ('Monaco',), ('Mongolia',), ('Montenegro',), ('Morocco',), ('Mozambique',), ('Myanmar',), ('Namibia',), ('Nepal',), ('Netherlands',), ('New Caledonia',), ('New Zealand',), ('Nicaragua',), ('Niger',), ('Nigeria',), ('Northern Mariana Islands',), ('Norway',), ('Oman',), ('Pakistan',), ('Panama',), ('Papua New Guinea',), ('Paraguay',), ('Peru',), ('Philippines',), ('Poland',), ('Portugal',), ('Puerto Rico',), ('Qatar',), ('Romania',), ('Russian Federation',), ('Rwanda',), ('San Marino',), ('Sao Tome and Principe',), ('Saudi Arabia',), ('Senegal',), ('Serbia',), ('Seychelles',), ('Sierra Leone',), ('Singapore',), ('Sint Maarten (Dutch part)',), ('Slovak Republic',), ('Slovenia',), ('Somalia',), ('South Africa',), ('South Sudan',), ('Spain',), ('Sri Lanka',), ('Sudan',), ('Suriname',), ('Sweden',), ('Switzerland',), ('Syrian Arab Republic',), ('Tajikistan',), ('Tanzania',), ('Thailand',), ('Timor-Leste',), ('Togo',), ('Trinidad and Tobago',), ('Tunisia',), ('Turkey',), ('Turks and Caicos Islands',), ('Uganda',), ('Ukraine',), ('United Arab Emirates',), ('United Kingdom',), ('United States',), ('Uruguay',), ('Uzbekistan',), ('Venezuela',), ('Vietnam',), ('Yemen',), ('Zambia',), ('Zimbabwe',)]